{% extends "game_base.html" %}

{% block title %}Classroom{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <link rel="stylesheet" href="{{ url_for('ovo_files', name='assets/css/style.min.css') }}">

</head>
<body style="margin:0;">

<div class="pageOnlyIframe" data-embed="{{ url }}">
    <div class="bg_game">
    {% if (url == "https://www.hoodamath.com/mobile/games/ovo/game.html") %}
        <iframe 
    style="width:100%; height:100vh; overflow:auto;"
    src="{{ url }}" 
    frameborder="0"
    scrolling="no"
    allowfullscreen>
</iframe>
    
    {% else %}
    <iframe 
    style="width:100%; height:100vh; overflow:auto;"
    src="{{ url }}" 
    frameborder="0"
    scrolling="yes"
    allowfullscreen>
    </iframe>
    {% endif %}
</div>

<script src="{{ url_for('ovo_files', name='assets/js/jquery.min.js')}}"></script>
<script src="{{ url_for('ovo_files', name='assets/js/game-embedded.js') }}"></script>
</body>
</html>
{% endblock %}